<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="/#/">
    <meta charset="utf-8" />
    <title>GateWay</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-Frame-Options" content="deny">
</head>
<body>
	@Section['Content'];
	<script src="lib/system.src.js"></script>
	<script src="lib/rx.js"></script>
	<script src="lib/Reflect.js"></script>
	<script src="lib/zone.js"></script>
	<script src="app/load.js"></script>
	<script>
      System.import('app/main').catch(function(err){ console.error(err); });
    </script>
</body>
</html>